.card{
    width: 220px;
    height: auto;
    max-height: 450px;
    border: none;
    border-radius: .5rem;
    margin: 0 auto;
    cursor: pointer;
}
.card-top{
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 0.5rem;
}
.card-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wishlist-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.view-product{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: rgb(131,148,236);
    opacity: 0;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    transition: opacity 0.5s ease-in-out;
}
.card:hover .view-product {
    opacity: 0.7;
}
.card-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1px;
}
.product-name{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.price-section{
    display: flex;
    justify-content: flex-start;
    font-size: 1.3rem;
    font-weight: 350;
}
.original-price{
    color: rgb(178,178,178);
    text-decoration: line-through;
    margin-right: 0.5rem;
}
.discounted-price{
    color: rgb(109,132,255);
}
.rating-section{
    display: flex;
    align-items: center;
}
.reviews{
    font-size: 1.2rem;
    font-weight: 300;
}

@media (max-width: 600px){
    .card{
        width: 325px;
        max-height: 600px;
    }
    .card-top{
        height: 400px;
    }
}