.search-suggestion-page{
    width: 100%;
    height: auto;
    background-color: white;
    padding: 2rem;
}
.card{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem 0;
}
.card-top{
    width: 100%;
    height: 250px;
    border: none;
    /* overflow: hidden; */
}
.card-top img{
    border-radius: 0.4rem;
}
.product-name{
    font-weight: 500;
    margin-top: 0.5rem;
}
.suggestion-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.suggestion-heading{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.5rem 0 1rem 0;
}
.text-suggestion{
    font-size: 1.2rem;
    font-weight: 450;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.text-suggestion p{
    margin-bottom: 0.25rem;
}